@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 

:root {
    --cor1: #1E201E; 
    --cor2: #3C3D37;
    --cor3: #697565;
    --cor4: #ECDFCC;

    --font-padrao: "Montserrat", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
    font-weight: bold;
    text-decoration: none;
}



body {
    background-color: var(--cor5);
    
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

p {
    color: white;
}


header {
    padding-bottom: 50px;
    background-color: var(--cor1);
    color: white;
    text-align: center;
    height: 30px;
  
}


.card {
    
    background-color: white;
    border: 1px solid black;
    margin-left: 30px;
    height: 270px;
    width: 270px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.432);
    
}

.card:hover {
    box-shadow: 3px 5px 8px  rgb(248, 248, 248);
}


section {
    padding: 20px;

}

#php {
    padding-top: 40px;
}


#cs {
    padding-top: 40px;
}

#js {
    padding-top: 30px;    
}

#rt {
    padding-top: 10px;
}

#c {
    padding-top: 10px;
}

#aws {
    padding-top: 30px;
}

#git {
    padding-top: 60px;
}